<!doctype html>
<html>
	<head>
		<title>FOMU - Fotomuseum provincie Antwerpen</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Saira+Semi+Condensed" rel="stylesheet"> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>

	<body>
	<header>
		<a href="/"><h1>FOMU<br><span>09.03.2018 - 10.06.2018</span></h1></a>
	</header>
